@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <h1 class="display-4">IBERO</h1>
    <p>
        Actividad 1        <br />
        Diseño y operaciones CRUD en Bases de datos NoSQLTarea <br />
        Actividad 2 <br /> Consultas en Bases de datos NoSQLTarea
        <br />
        <br />
        <br />

        Ingeniería de Software.        <br />
        Bases De Datos Avanzadas        <br />
        Mary Luz Rubiano Acosta
        <br />
        <br />
        <br />
        Mauricio Bello Cogollo        <br />
        Jhonny Alejandro Sanchez Quintana
        <br />
        <br />
        Diciembre 04  2022.
    </p>
</div>
