
@{
    ViewData["Title"] = "GestionDeportistas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-sm navbar-light bg-light" style="margin-top:67px;">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link" href="#home1">Gestión Deportistas</a>
            </li>

        </ul>
    </div>
</nav>
<div class="card o-hidden border-0 shadow-lg my-n2">
    <div class="tab-content">
        <br />
        @* Persona *@
        <div class="tab-pane active" id="home1">
            <form class="user" style="margin:2%">
                <div class="form-group row">
                    <div class="col-sm-3 mb-3 mb-sm-3" hidden>
                        <input type="number" class="form-control" id="idText" name="idText" placeholder="Id" required readonly>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" name="Nombre"><span style="color:red">*</span>Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" name="numero">Numero</label>
                        <input type="text" class="form-control" id="numero" name="numero" placeholder="Numero Jugador" required>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" name="posision">Posision</label>
                        <input type="text" class="form-control" id="posision" name="posision" placeholder="Posision" required>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" name="documento">Documento Identidad</label>
                        <input type="text" class="form-control" id="documento" name="documento" placeholder="Documento Identidad" required>
                    </div> 
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" name="idEquipo">Equipo</label>
                        <input type="text" class="form-control" id="idEquipo" name="idEquipo" placeholder="Equipo" required>
                    </div>

                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" name="btnCrear">.</label>
                        <button type="button" class="form-control btn-secondary" id="btnCrear" placeholder="Guardar" style="background: #4e73df;font-size:15px;color:white;">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var update = false;
    var idText = "";

    $(document).ready(function () {
        getDeportista();
    });

    $("#btnCrear").click(function () {
        debugger
        var data = {
            idTex: idText,
            nombre: $("#nombre").val(),
            numero: $("#numero").val(),
            posision: $("#posision").val(),
            documento: $("#documento").val(),
            idEquipo: $("#idEquipo").val()
        }
        var entidad = JSON.stringify(data);
        if (update = false) {
            $.ajax({
                url: 'https://localhost:44331/api/Deportistas/CreateDeportista',
                //method: 'Post',
                'type': 'POST',
                data: entidad,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                traditional: true,
                async: true,
                dataType: "JSON",
                success: function (ok) {
                    debugger
                    if (ok) {
                        toastr.success("success");
                    } else {
                        toastr.warning(ok.mensaje);
                    }
                },
                complete: function () {

                },
                error: function (data) {
                    debugger
                    toastr.error("No pudimos completar tu solicitud!");
                }
            });
        }
        else if (idText != "" && idText != undefined && idText != NaN) {
            $.ajax({
                url: 'https://localhost:44331/api/Deportistas/UpdateDeportista',
                'type': 'PUT',
                data: entidad,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                traditional: true,
                async: true,
                dataType: "JSON",
                success: function (ok) {
                    debugger
                    if (ok) {
                        toastr.success("success");
                    } else {
                        toastr.warning(ok.mensaje);
                    }
                },
                complete: function () {

                },
                error: function (data) {
                    debugger
                    toastr.error("No pudimos completar tu solicitud!");
                }
            });
        }
        else {
            toastr.warning("selecciona una accion!");
        }
    });

    function getDeportista() {
        debugger
        var id= '@ViewBag.idString';
        if (id != "" && id != undefined && id != NaN) {
            var uri = 'https://localhost:44331/api/Deportistas/GetUnDeportistaById';
            var url = uri + '?' + $.param({ "id": id });
            $.ajax({
                url: url,
                type: 'get',
                success: function (data) {
                    debugger
                    $("#idText").val("");
                    $("#nombre").val("");
                    $("#numero").val("");
                    $("#posision").val("");
                    $("#documento").val("");
                    $("#idEquipo").val("");

                    if (data.response.ok) {
                        toastr.success(data.response.message);
                        update = true;

                        idText=data.deportista.idTex;
                        $("#idText").val(data.deportista.idTex);
                        $("#nombre").val(data.deportista.nombre);
                        $("#numero").val(data.deportista.numero);
                        $("#posision").val(data.deportista.posision);
                        $("#documento").val(data.deportista.documento);
                        $("#idEquipo").val(data.deportista.idEquipo);

                    } else {
                        toastr.warning("No pudimos procesar su Solicitud!");
                    };
                },
                error: function (jQXHR) {
                    toastr.error('error, No pudimos procesar su Solicitud!');
                }
            });
        }
    };

</script>

