
@{
    ViewData["Title"] = "GestionDeportistas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-sm navbar-light bg-light" style="margin-top:67px;">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link" href="#home1">Gestión Deportistas</a>
            </li>

        </ul>
    </div>
</nav>
<div class="card o-hidden border-0 shadow-lg my-n2">
    <div class="tab-content">
        <br />
        @* Persona *@
        <div class="tab-pane active" id="home1">
            <form class="user" style="margin:2%">
                <div class="form-group row">
                    <div class="col-sm-3 mb-3 mb-sm-3" hidden>
                        <input type="number" class="form-control" id="id" name="id" placeholder="Id" required readonly>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" name="Nombre"><span style="color:red">*</span>Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" name="numero">Numero</label>
                        <input type="text" class="form-control" id="numero" name="numero" placeholder="Numero Jugador" required>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" name="posision">Posision</label>
                        <input type="text" class="form-control" id="posision" name="posision" placeholder="Posision" required>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" name="documento">Documento Identidad</label>
                        <input type="text" class="form-control" id="documento" name="documento" placeholder="Documento Identidad" required>
                    </div> 
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" name="idEquipo">Equipo</label>
                        <input type="text" class="form-control" id="idEquipo" name="idEquipo" placeholder="Equipo" required>
                    </div>

                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" name="btnCrear">.</label>
                        <button type="button" class="form-control btn-secondary" id="btnCrear" placeholder="Guardar" style="background: #4e73df;font-size:15px;color:white;">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>


    $(document).ready(function () {

    });

    $("#btnCrear").click(function () {
        var data = {
            id: $("#id").val(),
            nombre: $("#nombre").val(),
            numero: $("#numero").val(),
            posision: $("#posision").val(),
            documento: $("#documento").val(),
            idEquipo: $("#idEquipo").val(),
        }
        var persona = JSON.stringify(data);

        if (true) {
            $.ajax({
                url: 'https://localhost:44331/api/Deportistas/CreateDeportista',
                method: 'Post',
                data: persona,
                traditional: true,
                async: true,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                headers: {
                    'Authorization': 'Bearer '
                        + localStorage.getItem("accessToken")
                },
                success: function (data) {
                    debug
                    if (data.Ok) {
                        toastr.success(data.mensaje);
                    } else {
                        toastr.warning(data.mensaje);
                    }
                },
                complete: function () {

                },
                error: function (data) {
                    toastr.error(data.responseJSON);
                }
            });
        }
    });


</script>

