
@{
    ViewData["Title"] = "GetDeportistas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3" style="margin-top:57px;">

    <div class="card-header">
        <i class="fa fa-table"></i> @ViewBag.Titulo &emsp;
    </div>
    <div class="card-body">
        <div class="panel-body-busqueda">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover display compact dataTable" id="tableDeportistas">
                    <thead>
                        <tr>
                            <th style="text-align:center">Editar</th>
                            <th style="text-align:center">Nombre</th>
                            <th style="text-align:center">Numero</th>
                            <th style="text-align:center">Posision</th>
                            <th style="text-align:center">Documento</th>
                            <th style="text-align:center">Fecha</th>
                            <th style="text-align:center">Accion</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        GetDeportistas();
    });

    function GetDeportistas() {
        $.ajax({
            url: 'https://localhost:44331/api/Deportistas/GetAllListDeportistas',
            method: 'get',
            data: {},
            traditional: true,
            async: true,
            dataType: "json",
            headers: {
                'Authorization': 'Bearer '
                    + localStorage.getItem("accessToken")
            },
            success: function (response) {
                $('#tableDeportistas').DataTable().clear();
                $('#tableDeportistas').DataTable().destroy();
                $('#tableDeportistas').find('tbody').empty();
                if (response.ok) {
                    toastr.success(response.mensaje, "Atención!");
                    for (var i = 0; i < response.deportistas.length; i++) {
                        $('#tableDeportistas').find('tbody').append(
                            `<tr id="">
                                <td align="right">
                                    <button type="button" class="btn btn-success btn-xs" onclick="GestionDeportistas('${response.deportistas[i].idTex}')">
                                        <i class="fa fa-pencil-square"></i>&nbsp;Editar&nbsp;&nbsp;
                                    </button>
                                </td>
                                <td align="right">${ response.deportistas[i].nombre}</td>
                                <td align="right">${ response.deportistas[i].numero}</td>
                                <td align="right">${ response.deportistas[i].posision}</td>
                                <td align="right">${ response.deportistas[i].documento}</td>
                                <td align="right">${ response.deportistas[i].fechaTex}</td>
                                <td align="right">
                                    <button type="button" class="btn btn-warning btn-xs" onclick="BorrarDeportista('${response.deportistas[i].idTex}')">
                                        <i class="fa fa-trash"></i>&nbsp;Borrar&nbsp;&nbsp;
                                    </button>
                                </td>
                            </tr >`);
                    }
                } else {
                    toastr.error(response.mensaje, "Error");
                }; 
            },
            error: function (jQXHR) {
                toastr.error('No pudimos procesar su Solicitud!')
            },
            complete: function () {
                $('#tableDeportistas').DataTable({
                    dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    buttons: []
                });
            }
        });
    }

    function GestionDeportistas(id) {
        debugger
        if (id != "" && id != undefined && id != NaN) {
            var url = '?' + $.param({ "id": id });
            window.location.href = "/Deportistas/GestionDeportistas/" + id;
        }
    };

    function BorrarDeportista(id) {
        debugger
        if (id != "" && id != undefined && id != NaN) {
            var uri = 'https://localhost:44331/api/Deportistas/DeleteDeportista';
            var url = uri + '?' + $.param({ "idString": id });
            $.ajax({
                url: url,
                type: 'DELETE',
                success: function (ok) {
                    debugger
                    if (ok) {
                        toastr.success("success!");
                    } else {
                        toastr.warning("No pudimos procesar su Solicitud!");
                    };
                    GetDeportistas();
                },
                error: function (jQXHR) {
                    debugger
                    toastr.error('error, No pudimos procesar su Solicitud!');
                }
            });
        }
    };

</script>

