
@{
    ViewData["Title"] = "GestionEvento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-sm navbar-light bg-light" style="margin-top:67px;">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link" href="#home1">Gestión Evento</a>
            </li>

        </ul>
    </div>
</nav>
<div class="card o-hidden border-0 shadow-lg my-n2">
    <div class="tab-content">
        <br />
        @* Persona *@
    <div class="tab-pane active" id="home1">
        <form class="user" style="margin:2%">
            <div class="form-group row">
                <div class="col-sm-3 mb-3 mb-sm-3" hidden>
                    <input type="text" class="form-control" id="idText" name="idText" placeholder="Id" required readonly>
                </div>
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label class="col-form-label" name="encuentro"><span style="color:red">*</span>Encuentro</label>
                    <input type="text" class="form-control" id="encuentro" name="encuentro" placeholder="Nombre Encuentro">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label class="col-form-label" name="idTemporada">Temporada-Campeonato</label>
                    <select id="idTemporada" name="idTemporada" class="form-control bg-white collapse-inner" required style="width:100%;color:blue;">
                        <option value="" class="col-sm-3 mb-3 mb-sm-3">Seleccione el Equipo </option>
                    </select>
                </div>
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label class="col-form-label" name="idEquipoA">Equipo A</label>
                    <select id="idEquipoA" name="idEquipoA" class="form-control-lg bg-white collapse-inner" required style="width:100%;color:blue;">
                        <option value="" class="col-sm-3 mb-3 mb-sm-3">Seleccione el Equipo </option>
                    </select>
                </div>
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label class="col-form-label" name="idEquipoB">Equipo B</label>
                    <select id="idEquipoB" name="idEquipoB" class="form-control bg-white collapse-inner" required style="width:100%;color:blue;">
                        <option value="" class="col-sm-3 mb-3 mb-sm-3">Seleccione el Equipo </option>
                    </select>
                </div>
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label class="col-form-label" name="idArbitro">Árbitro</label>
                    <select id="idArbitro" name="idArbitro" class="form-control bg-white collapse-inner" required style="width:100%;color:blue;">
                        <option value="" class="col-sm-3 mb-3 mb-sm-3">Seleccione el Árbitro </option>
                    </select>
                </div>
                <hr style="width:100%;color:blue;" />
                <div class="form-group row col-sm-12 mb-12 mb-sm-12">
                    <h5 style="text-align:center" class="col-sm-12 mb-12 mb-sm-12">Marcador</h5>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" name="idEquipoB">Equipo</label>
                        <select id="idEquipo" name="idEquipo" class="form-control bg-white collapse-inner" required style="width:100%;color:blue;">
                            <option value="" class="col-sm-3 mb-3 mb-sm-3">Seleccione el Equipo </option>
                        </select>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" name="idEquipoB">Jugador</label>
                        <select id="idDeportista" name="idDeportista" class="form-control bg-white collapse-inner" required style="width:100%;color:blue;">
                            <option value="" class="col-sm-3 mb-3 mb-sm-3">Seleccione el Equipo </option>
                        </select>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" name="goles"><span style="color:red">*</span>Gol</label>
                        <input type="number" max="100" min="1" class="form-control" id="goles" name="goles" placeholder="goles">
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" name="btnAdd">.</label>
                        <button type="button" class="form-control btn-secondary" id="btnAdd" placeholder="Add" style="background: #4e73df;font-size:15px;color:white;">Anotar</button>
                    </div>
                    <div class="card-body">
                        <div class="panel-body-busqueda">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover display compact dataTable" id="tableResultadoEquipos">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">Equipo</th>
                                            <th style="text-align:center">Goles a Favor</th>
                                            <th style="text-align:center">Goles En Contra</th>
                                            <th style="text-align:center">Gano</th>
                                            <th style="text-align:center">Empate</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <table class="table table-sm table-hover display compact dataTable" id="tableResultado">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">Equipo</th>
                                            <th style="text-align:center">Jugador</th>
                                            <th style="text-align:center">Goles</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label class="col-form-label" name="btnCrear">.</label>
                    <button type="button" class="form-control btn-secondary" id="btnCrear" placeholder="Guardar" style="background: #4e73df;font-size:15px;color:white;">Guardar</button>
                </div>
            </div>
        </form>

    </div>
    </div>
</div>
<script>

    var update = false;
    var idText = "";
    var idEquipoA = "";
    var idEquipoB = "";
    var idTemporada = "";
    var encuentro = "";
    var idArbitro = "";
    var listResultados = [];
    var listResultadosEquipo = [];
    $(document).ready(function () {
        getEvento();
        $("#idEquipoA").select2();
        $("#idEquipoB").select2();
        $("#idTemporada").select2();
        $("#idArbitro").select2();
        DropListEquipos();
        DropListTemporadas();
        DropListArbitro();
        DropListJugador();
    });

    class resultados extends Array {
        sum(key) {
            return this.reduce((a, b) => a + (b[key] || 0), 0);
        }
    }

    $("#btnAdd").click(function Add() {
        
         idEquipoA = $("#idEquipoA").val();
         idEquipoB = $("#idEquipoB").val();
        var idEquipo = $("#idEquipo").val();
        var idDeportista = $("#idDeportista").val();
        var goles = parseInt($("#goles").val());

        if (goles>0) {

        } else {
            toastr.warning("Gol minimo 1")
            return;
        }
        //---------------------------------------------------------------------GOLES POR JUGADOR Y EQUIPO------------------------------------------

        var objIndex = listResultados.findIndex((obj => obj.idEquipo == idEquipo && obj.idDeportista == idDeportista));
        //Update object's goles property.
        if (objIndex >=0) {
            listResultados[objIndex].goles += goles;
        }
        else {
            b = { idEquipo: idEquipo, idDeportista: idDeportista, goles: goles };
            listResultados.push(b);
        }
        debugger
        //-----------------------------------------------------------------------GOLES POR EQUIPO A-------------------------------------------------


        var golesEquipoA = listResultados.filter(obj => obj.idEquipo === idEquipoA);
        let initialValueA = 0
        let sumA = golesEquipoA.reduce(function (previousValue, currentValue) { return previousValue + currentValue.goles }, initialValueA)

        //-----------------------------------------------------------------------GOLES POR EQUIPO B-------------------------------------------------

        var golesEquipoB = listResultados.filter(obj => obj.idEquipo == idEquipoB);
        let initialValueB = 0
        let sumB = golesEquipoB.reduce(function (previousValue, currentValue) { return previousValue + currentValue.goles }, initialValueB)

        //-----------------------------------------------------------------------Resultados-------------------------------------------------

        var A = false;
        var B = false;
        var C = false;

        if (sumA > sumB) {
            A = true;
        }
        else if (sumA < sumB) {
            B = true;
        } else {
            C = true;
        }

       //-----------------------------------------------------------------------RESULTADO EQUIPO A-------------------------------------------------

        var objEquipoIndexA = listResultadosEquipo.findIndex((obj => obj.equipo == idEquipoA));
        //Update object's goles property.
        if (objEquipoIndexA >= 0) {
            listResultadosEquipo[objEquipoIndexA].golesAFavor = sumA;
            listResultadosEquipo[objEquipoIndexA].golesEnContra = sumB;
            listResultadosEquipo[objEquipoIndexA].gano = A;
            listResultadosEquipo[objEquipoIndexA].empate = C;
        }
        else {
            b = { equipo: idEquipoA, golesAFavor: sumA, golesEnContra: sumB, gano: A, empate:C };
            listResultadosEquipo.push(b);
        }

        //-----------------------------------------------------------------------RESULTADO EQUIPO B-------------------------------------------------

        var objEquipoIndexB = listResultadosEquipo.findIndex((obj => obj.equipo == idEquipoB));
        //Update object's goles property.
        if (objEquipoIndexB >= 0) {
            listResultadosEquipo[objEquipoIndexB].golesAFavor = sumB;
            listResultadosEquipo[objEquipoIndexB].golesEnContra = sumA;
            listResultadosEquipo[objEquipoIndexB].gano = B;
            listResultadosEquipo[objEquipoIndexB].empate = C;
        }
        else {
            b = { equipo: idEquipoB, golesAFavor: sumB, golesEnContra: sumA, gano: B, empate: C };
            listResultadosEquipo.push(b);
        }
        debugger
        
        $('#tableResultado').DataTable().clear();
        $('#tableResultado').DataTable().destroy();
        $('#tableResultado').find('tbody').empty();
        for (var i = 0; i < listResultados.length; i++) {
            $('#tableResultado').find('tbody').append(
                `<tr id="">
                    <td align="center">${listResultados[i].idEquipo}</td>
                    <td align="center">${listResultados[i].idDeportista}</td>
                    <td align="center">${listResultados[i].goles}</td>
            </tr >`);
        }

        $('#tableResultadoEquipos').DataTable().clear();
        $('#tableResultadoEquipos').DataTable().destroy();
        $('#tableResultadoEquipos').find('tbody').empty();
        for (var i = 0; i < listResultadosEquipo.length; i++) {
            $('#tableResultadoEquipos').find('tbody').append(
                `<tr id="">
                    <td align="center">${listResultadosEquipo[i].equipo}</td>
                    <td align="center">${listResultadosEquipo[i].golesAFavor}</td>
                    <td align="center">${listResultadosEquipo[i].golesEnContra}</td>
                    <td align="center">${listResultadosEquipo[i].gano}</td>
                    <td align="center">${listResultadosEquipo[i].empate}</td>
                </tr >`);
        }
    });


    $("#btnCrear").click(function () {

        var data = {
            idTex: idText,
            idTemporada: $("#idTemporada").val(),
            encuentro: $("#encuentro").val(),
            idEquipoA: $("#idEquipoA").val(),
            idEquipoB: $("#idEquipoB").val(),
            idArbitro: $("#idArbitro").val(),
            listResultados: listResultados,
            listResultadosEquipo: listResultadosEquipo
        }
        var entidad = JSON.stringify(data);
        
        if (update == false) {
            $.ajax({
                url: 'https://localhost:44331/api/EventosDeportivos/CreateEncuentrosDeportivo',
                'type': 'POST',
                data: entidad,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                traditional: true,
                async: true,
                dataType: "JSON",
                success: function (data) {
                    
                    if (data) {
                        update = true;
                        idText = data.idTex;
                        $("#idText").val(data.idTex);
                        $("#encuentro").val(data.encuentro);
                        $("#idEquipoA").val(data.idEquipoA);
                        idEquipoA = data.idEquipoA;
                        $("#idEquipoB").val(data.idEquipoB);
                        idEquipoB = data.idEquipoB;
                        $("#idTemporada").val(data.idTemporada);
                        idTemporada = data.idTemporada;
                        $("#idArbitro").val(data.idArbitro);
                        idArbitro = data.idArbitro;

                        $('#tableResultado').DataTable().clear();
                        $('#tableResultado').DataTable().destroy();
                        $('#tableResultado').find('tbody').empty();
                        for (var i = 0; i < data.listResultados.length; i++) {
                            $('#tableResultado').find('tbody').append(
                                `<tr id="">
                                <td align="center">${data.listResultados[i].idEquipo}</td>
                                <td align="center">${data.listResultados[i].idDeportista}</td>
                                <td align="center">${data.listResultados[i].goles}</td>
                            </tr >`);

                            var objIndex = listResultados.findIndex((obj => obj.idEquipo == data.listResultados[i].idEquipo && obj.idDeportista == data.listResultados[i].idDeportista));
                            //Update object's goles property.
                            if (objIndex >= 0) {
                                listResultados[objIndex].goles = data.listResultados[i].goles;
                            }
                            else {
                                
                                b = { idEquipo: data.listResultados[i].idEquipo, idDeportista: data.listResultados[i].idDeportista, goles: data.listResultados[i].goles };
                                listResultados.push(b);
                            }
                        }
                        $('#tableResultadoEquipos').DataTable().clear();
                        $('#tableResultadoEquipos').DataTable().destroy();
                        $('#tableResultadoEquipos').find('tbody').empty();
                        for (var i = 0; i < data.listResultadosEquipo.length; i++) {
                                    $('#tableResultadoEquipos').find('tbody').append(
                                     `<tr id="">
                                        <td align="center">${data.listResultadosEquipo[i].equipo}</td>
                                        <td align="center">${data.listResultadosEquipo[i].golesAFavor}</td>
                                        <td align="center">${data.listResultadosEquipo[i].golesEnContra}</td>
                                        <td align="center">${data.listResultadosEquipo[i].gano}</td>
                                        <td align="center">${data.listResultadosEquipo[i].empate}</td>
                                    </tr >`);
                                }
                    } else {
                        toastr.warning("error!");
                    }
                },
                error: function (data) {
                    toastr.error("No pudimos completar tu solicitud!");
                }
            });
        }
        else if (idText != "" && idText != undefined && idText != NaN) {
            
            $.ajax({
                url: 'https://localhost:44331/api/EventosDeportivos/UpdateEncuentrosDeportivo',
                'type': 'PUT',
                data: entidad,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                traditional: true,
                async: true,
                dataType: "JSON",
                success: function (response) {
                    
                    if (response.listResultados.length>0) {
                        
                        toastr.success("success");
                        $('#tableResultado').DataTable().clear();
                        $('#tableResultado').DataTable().destroy();
                        $('#tableResultado').find('tbody').empty();
                        for (var i = 0; i < response.listResultados.length; i++) {
                            $('#tableResultado').find('tbody').append(
                                `<tr id="">
                                <td align="center">${response.listResultados[i].idEquipo}</td>
                                <td align="center">${response.listResultados[i].idDeportista}</td>
                                <td align="center">${response.listResultados[i].goles}</td>
                            </tr >`);
                            var objIndex = listResultados.findIndex((obj => obj.idEquipo == response.listResultados[i].idEquipo && obj.idDeportista == response.listResultados[i].idDeportista));
                            //Update object's goles property.
                            if (objIndex >= 0) {
                                listResultados[objIndex].goles = response.listResultados[i].goles;
                            }
                            else {
                                
                                b = { idEquipo: response.listResultados[i].idEquipo, idDeportista: response.listResultados[i].idDeportista, goles: response.listResultados[i].goles };
                                listResultados.push(b);
                            }
                        }
                        $('#tableResultadoEquipos').DataTable().clear();
                        $('#tableResultadoEquipos').DataTable().destroy();
                        $('#tableResultadoEquipos').find('tbody').empty();
                        for (var i = 0; i < response.listResultadosEquipo.length; i++) {
                            $('#tableResultadoEquipos').find('tbody').append(
                                `<tr id="">
                                        <td align="center">${response.listResultadosEquipo[i].equipo}</td>
                                        <td align="center">${response.listResultadosEquipo[i].golesAFavor}</td>
                                        <td align="center">${response.listResultadosEquipo[i].golesEnContra}</td>
                                        <td align="center">${response.listResultadosEquipo[i].gano}</td>
                                        <td align="center">${response.listResultadosEquipo[i].empate}</td>
                                    </tr >`);
                        }
                    } else {
                        toastr.warning("error");
                    }
                },
                complete: function () {

                },
                error: function (data) {
                    
                    toastr.error("No pudimos completar tu solicitud!");
                }
            });
        }
        else {
            toastr.warning("selecciona una accion!");
        }
    });

    function getEvento() {
        var id = '@ViewBag.idString';
        
        if (id != "" && id != undefined && id != NaN) {
            var uri = 'https://localhost:44331/api/EventosDeportivos/GetEncuentrosDeportivoById';
            var url = uri + '?' + $.param({ "id": id });
            $.ajax({
                url: url,
                type: 'get',
                success: function (data) {
                    
                    $("#idText").val("");
                    $("#idEquipoA").val("");
                    $("#idEquipoB").val("");
                    $("#idTemporada").val("");
                    $("#idArbitro").val("");
                    $("#encuentro").val("");

                    if (data.response.ok) {
                        toastr.success(data.response.message);
                        update = true;

                        idText = data.evento.idTex;
                        $("#idText").val(data.evento.idTex);
                        $("#encuentro").val(data.evento.encuentro);
                        $("#idEquipoA").val(data.evento.idEquipoA);
                        idEquipoA=data.evento.idEquipoA;
                        $("#idEquipoB").val(data.evento.idEquipoB);
                        idEquipoB=data.evento.idEquipoB;
                        $("#idTemporada").val(data.evento.idTemporada);
                        idTemporada=data.evento.idTemporada;
                        $("#idArbitro").val(data.evento.idArbitro);
                        idArbitro = data.evento.idArbitro;

                        $('#tableResultado').DataTable().clear();
                        $('#tableResultado').DataTable().destroy();
                        $('#tableResultado').find('tbody').empty();
                        for (var i = 0; i < data.evento.listResultados.length; i++) {
                            $('#tableResultado').find('tbody').append(
                                `<tr id="">
                                <td align="center">${data.evento.listResultados[i].idEquipo}</td>
                                <td align="center">${data.evento.listResultados[i].idDeportista}</td>
                                <td align="center">${data.evento.listResultados[i].goles}</td>
                            </tr >`);
                            
                            var objIndex = listResultados.findIndex((obj => obj.idEquipo == data.evento.listResultados[i].idEquipo && obj.idDeportista == data.evento.listResultados[i].idDeportista));
                            //Update object's goles property.
                            if (objIndex >= 0) {
                                listResultados[objIndex].goles = data.evento.listResultados[i].goles;
                            }
                            else {
                                
                                b = { idEquipo: data.evento.listResultados[i].idEquipo, idDeportista: data.evento.listResultados[i].idDeportista, goles: data.evento.listResultados[i].goles };
                                listResultados.push(b);
                            }
                        }
                        $('#tableResultadoEquipos').DataTable().clear();
                        $('#tableResultadoEquipos').DataTable().destroy();
                        $('#tableResultadoEquipos').find('tbody').empty();
                        for (var i = 0; i < data.evento.listResultadosEquipo.length; i++) {
                            $('#tableResultadoEquipos').find('tbody').append(
                                `<tr id="">
                                <td align="center">${data.evento.listResultadosEquipo[i].equipo}</td>
                                <td align="center">${data.evento.listResultadosEquipo[i].golesAFavor}</td>
                                <td align="center">${data.evento.listResultadosEquipo[i].golesEnContra}</td>
                                <td align="center">${data.evento.listResultadosEquipo[i].gano}</td>
                                <td align="center">${data.evento.listResultadosEquipo[i].empate}</td>
                            </tr >`);
                        }

                    } else {
                        toastr.warning("No pudimos procesar su Solicitud!");
                    };
                },
                error: function (jQXHR) {
                    toastr.error('error, No pudimos procesar su Solicitud!');
                }
            });
        }
    };

    function DropListEquipos() {
        $.ajax({
            url: 'https://localhost:44331/api/Equipos/GetAllListEquipos',
            method: 'get',
            traditional: true,
            async: true,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            headers: {
                'Authorization': 'Bearer '
                    + localStorage.getItem("accessToken")
            },
            success: function (data) {
                //A
                $('#idEquipoA').empty();
                
                if (data.ok) {
                    $(data.equipos).each(function (i) {
                        $('#idEquipoA').append($('<option>', {
                            value: data.equipos[i].idTex,
                            text: data.equipos[i].nombreEquipo,
                        }));
                    });
                    if (idEquipoA != "") {
                        $("#idEquipoA").val(idEquipoA).trigger('change.select2');
                    }
                } else {
                    toastr.warning(data.mensaje);
                }
                ///B
                $('#idEquipoB').empty();
                
                if (data.ok) {
                    $(data.equipos).each(function (i) {
                        $('#idEquipoB').append($('<option>', {
                            value: data.equipos[i].idTex,
                            text: data.equipos[i].nombreEquipo,
                        }));
                    });
                    if (idEquipoB != "") {
                        $("#idEquipoB").val(idEquipoB).trigger('change.select2');
                    }
                } else {
                    toastr.warning(data.mensaje);
                }

                ///Add
                $('#idEquipo').empty();

                if (data.ok) {
                    $(data.equipos).each(function (i) {
                        $('#idEquipo').append($('<option>', {
                            value: data.equipos[i].idTex,
                            text: data.equipos[i].nombreEquipo,
                        }));
                    });
                } 
            },
            error: function (data) {
                toastr.error("error");
            }
        });
    }

    function DropListTemporadas() {
        $.ajax({
            url: 'https://localhost:44331/api/Temporadas/GetAllListTemporadas',
            method: 'get',
            traditional: true,
            async: true,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            headers: {
                'Authorization': 'Bearer '
                    + localStorage.getItem("accessToken")
            },
            success: function (data) {
                $('#idTemporada').empty();
                
                if (data.ok) {
                    $(data.temporadas).each(function (i) {
                        $('#idTemporada').append($('<option>', {
                            value: data.temporadas[i].idTex,
                            text: data.temporadas[i].temporada,
                        }));
                    });
                    if (idTemporada != "") {
                        $("#idTemporada").val(idTemporada).trigger('change.select2');
                    }
                } else {
                    toastr.warning(data.mensaje);
                }
            },
            error: function (data) {
                toastr.error("error");
            }
        });
    }

    function DropListArbitro() {
        $.ajax({
            url: 'https://localhost:44331/api/Arbitros/GetAllListArbitros',
            method: 'get',
            traditional: true,
            async: true,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            headers: {
                'Authorization': 'Bearer '
                    + localStorage.getItem("accessToken")
            },
            success: function (data) {
                $('#idArbitro').empty();
                
                if (data.ok) {
                    $(data.arbitros).each(function (i) {
                        $('#idArbitro').append($('<option>', {
                            value: data.arbitros[i].idTex,
                            text: data.arbitros[i].nombre,
                        }));
                    });
                    if (idArbitro != "") {
                        $("#idArbitro").val(idArbitro).trigger('change.select2');
                    }
                } else {
                    toastr.warning(data.mensaje);
                }
            },
            error: function (data) {
                toastr.error("error");
            }
        });
    }

    function DropListJugador() {
        $.ajax({
            url: 'https://localhost:44331/api/Deportistas/GetAllListDeportistas',
            method: 'get',
            traditional: true,
            async: true,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#idDeportista').empty();
                
                if (data.ok) {
                    $(data.deportistas).each(function (i) {
                        $('#idDeportista').append($('<option>', {
                            value: data.deportistas[i].idTex,
                            text: data.deportistas[i].nombre,
                        }));
                    });

                } 
            },
            error: function (data) {
                toastr.error("error");
            }
        });
    }

</script>



